## Kinde Auth

KINDE_CLIENT_ID=tobemodified
KINDE_CLIENT_SECRET=tobemodified
KINDE_ISSUER_URL=https://<kinde-appname>.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/

# If the logged in user's email matches the below email, they will be granted admin privileges
ADMIN_EMAIL="casecobra@yopmail.com"

## UploadThing
UPLOADTHING_SECRET=tobemodified
UPLOADTHING_APP_ID=tobemodified

## Database
DATABASE_URL="tobemodified"